/* Thus begins the style rules*/
/*See below for font*/

/*Here begins general site styling*/
.tclLogo {
    background: rgb(239, 239, 236);
    background: linear-gradient(
        90deg,
        rgba(239, 239, 236, 0.9878326330532213) 19%,
        rgba(215, 164, 46, 1) 57%,
        rgba(224, 106, 53, 1) 100%
    );
}

.navTable {
    display: flex;
    justify-content: space-around;
}

a:link {
    text-decoration: none;
}

/*footer {
    position: fixed;
    bottom: 0;
    right: 5%;
}*/

.blurb {
    background: rgba(112, 112, 112, 0.2);
    margin: 2em auto;
    text-align: center;
    border: 1px black;
    border-radius: 1em;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    padding: 2em 2em;
}

.blurbWrapper {
    max-width: 90%;
    margin: 2em auto;
    padding: 1em 1em;
}

.book {
    border-radius: 5px;
    background: rgba(0, 128, 255, 0.4);
}

.emptyHRDiv {
    max-width: 70%;
    margin: 2em auto;
    /*padding: 1em 1em;*/
}
